* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.w-one-hundred {
  width: 100%;
}

/* MOBILE FIRST */

header {
  height: 60px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.logo {
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  color: #ff385c;
}

.home {
  width: 100%;
  padding: 15px;
}

.home-photo .app-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.home-info .home-name .home-heading {
  font-size: 14px;
}

.home-info .home-rating .rating-star {
  margin-right: 5px;
}

.apartment-info {
  color: #717171;
  line-height: 20px;
}

.price {
  margin-top: 10px;
}

.price .price-tag {
  font-size: 16px;
  font-weight: 600;
}

/* MEDIA 550 */

@media screen and (min-width: 550px) {
  .home {
    width: 50%;
  }

  .home-photo .app-img {
    width: 100%;
    height: auto;
  }
}

/* MEDIA 992 */

@media screen and (min-width: 992px) {
  .wrapper {
    width: 90%;
  }

  .logo {
    width: 90%;
    margin: 0 auto;
  }

  .home {
    width: 33%;
  }
  .home-photo .app-img {
    width: 100%;
    height: auto;
  }

  .home-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-info .home-name .home-heading {
    font-size: 16px;
  }
}

/* MEDIA 1500 */

@media screen and (min-width: 1500px) {
  .wrapper {
    width: 90%;
  }
  .logo {
    width: 90%;
  }
  .home {
    width: 25%;
  }
  .home-photo .app-img {
    width: 100%;
    height: auto;
  }
}
